#bodyLogin {
    background-image: url("../resources/parking.jpeg");
}

#divLogin {
    opacity: 0.9;
    border: 1px solid white;
    background-color: black;
    width: 20%;
    height: 250px;
    padding: 30px;
    margin-top: 18%;
    margin-left: 35%;
}

