#indexMessage{
    color: brown;
}

.btn-floating{
    background: url(../imgs/icons/ic_reorder_whites.png) no-repeat;
}

.side-nav{
    top: 0;
    margin: 0;
    height: calc(100% + 60px);
    background-color: #fff;
    overflow-y: auto;
    will-change: transform;
}

@media(max-width: 1024px){
    .side-nav {
        display: none;
    }
    .container2 {
        margin: 10px 10px 0px;
    }
}

@media(min-width: 800px){
    .container {
        max-width: 30%;
    }
    .side-nav {
        max-width: 20%;
        display: block;
    }
    .container2 {
        width: 76%;
        margin: -200px 340px 0px;
    }
}