<div class="container2">
    <h5>Usuarios</h5>
    <div class="row">
        <div class="input-field col s0">
            <a class="waves-effect waves-light btn modal-trigger" onclick="resetUser();" href="#modal1">Nuevo</a>
        </div>
        <div class="input-field col s6">
            <input placeholder="Buscar usuario" type="text" id="filtar" onkeyup="">
            <label for="filtrar">Buscar usuario</label>
        </div>
    </div>
    <!-- Modal Structure -->
    <div id="modal1" class="modal modal-fixed-footer">
        <form class="col s12" id="validate" enctype="multipart/form-data" method="POST">
            <div class="modal-content">
                <center>
                    <h5>Registrar usuario</h5>
                </center>
                <div class="row">
                    <div class="col s12 m6">
                        <div class="card">
                            <div class="card-content white-text">
                                <center>
                                    <span class="card-title blue-grey-text">Foto o imagen</span>
                                    <output id="fotos"></output>
                                </center>
                            </div>
                            <div class="card-action">
                                <center>
                                    <a>
                                        <div class="file-field input-field">
                                            <div class="btn waves-effect waves-light">
                                                <span>Subir</span>
                                                <input accept="image/*" type="file" name="files" id="files">
                                                <div class="file-path-wrapper">
                                                    <input class="file-path" type="text">
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="row">
                        <div class="input-field col s6">
                            <input placeholder="Nombre" id="nombre" name="nombre" type="text" class="validate" required>
                            <label class="error" for="nombre">Nombre</label>
                        </div>
                        <div class="input-field col s6">
                            <input placeholder="Apellido" id="apellido" name="apellido" type="text" class="validate" required>
                            <label class="error" for="apellido">Apellido</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input placeholder="NID" id="nid" name="nid" type="text" class="validate" required>
                            <label class="error" for="nid">NID</label>
                        </div>
                        <div class="input-field col s6">
                            <input placeholder="Telefono" id="telefono" name="telefono" type="number" class="validate" required>
                            <label class="error" for="telefono">Telefono</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input placeholder="Email" id="email" name="email" type="email" class="validate" required>
                            <label class="error" for="email">Email</label>
                        </div>
                        <div class="input-field col s6">
                            <input placeholder="Contraseña" id="password" name="password" type="password" class="validate" required>
                            <label class="error" for="password">Contraseña</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <select name="roles" id="roles">
                            </select>
                            <label class="error" for="roles">Tipo de roles</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <label id="registerMessage" class="text-left Message"></label>
                <button id="btnSaveUser" class="waves-effect waves-light btn">Registrar</button>
            </div>
        </form>
    </div>
</div>